body {
    background-image: url("/img/dusk.jpg");
}

hr {
    border: 3px solid #000000;
}

h1 {
    color: khaki;
}

/*#page {*/
/*    display: none;*/
/*    padding: 0 0.5em;*/
/*}*/

.hidden {
    visibility: hidden;

    /*position: absolute;*/
    /*width: 80%;*/
    /*height: 50%;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*border: 2px solid white;*/
    /*border-radius: 10px;*/
    /*padding: 10px;*/

    /*background-color: white;*/
    /*box-shadow: 4px 2px 15px 0 rgba(0,0,0,0.3);*/
}

/*.visible {*/
/*    visibility: visible;*/
/*}*/

#loading {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("/img/Camera_aperture.gif");
    background-repeat: no-repeat;
    background-position: center;
}

#movie-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
}

#deleteB {
    margin-left: 10px;
    padding-left: 10px;
}

.card-title {
    visibility: hidden;
}

.sticky-top {
    background-color: #648381;
}

#cardId {
    visibility: hidden;
}

#add-movie-title {
    margin-left: 1em;
}

#edit-b {
    justify-content: center;
}

/*#add-movie {*/
/*    max-width: 50%;*/
/*}*/

/*#edit-movie {*/
/*    max-width: 50%;*/
/*}*/